<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>size</th>
        <th>address</th>
        <th>action</th>
    </tr>
    <tr th:each="company: ${companies}">
        <td th:text="${company.id}"></td>
        <td th:text="${company.name}"></td>
        <td th:text="${company.size}"></td>
        <td th:text="${company.address}"></td>
        <td>
            <a th:href="@{/companies/delete(id = ${company.id})}">Remove</a>
        </td>
    </tr>
</table>
<a th:href="@{/companies/add}">Add</a>
<th:block th:if="${currentUser != null}">
    <a href="/logout" style="float: right">LogOut</a>
</th:block>
</body>
</html>